# packages in environment at /home/victor/anaconda3/envs/mindspore:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
asttokens                 2.4.1              pyhd8ed1ab_0    conda-forge
astunparse                1.6.3              pyhd8ed1ab_2    conda-forge
ca-certificates           2024.9.24            h06a4308_0  
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
freetype                  2.10.4               h0708190_1    conda-forge
jbig                      2.1               h7f98852_2003    conda-forge
jpeg                      9e                   h0b41bf4_3    conda-forge
lcms2                     2.12                 hddcbb42_0    conda-forge
ld_impl_linux-64          2.40                 h12ee557_0  
lerc                      2.2.1                h9c3ff4c_0    conda-forge
libblas                   3.9.0           20_linux64_openblas    conda-forge
libcblas                  3.9.0           20_linux64_openblas    conda-forge
libdeflate                1.7                  h7f98852_5    conda-forge
libffi                    3.4.4                h6a678d5_1  
libgcc                    14.2.0               h77fa898_1    conda-forge
libgcc-ng                 14.2.0               h69a702a_1    conda-forge
libgfortran               14.2.0               h69a702a_1    conda-forge
libgfortran-ng            14.2.0               h69a702a_1    conda-forge
libgfortran5              14.2.0               hd5240d6_1    conda-forge
libgomp                   14.2.0               h77fa898_1    conda-forge
liblapack                 3.9.0           20_linux64_openblas    conda-forge
libopenblas               0.3.25          pthreads_h413a1c8_0    conda-forge
libpng                    1.6.37               h21135ba_2    conda-forge
libstdcxx                 14.2.0               hc0a3c3a_1    conda-forge
libstdcxx-ng              11.2.0               h1234567_1  
libtiff                   4.3.0                hf544144_1    conda-forge
libwebp-base              1.4.0                hd590300_0    conda-forge
lz4-c                     1.9.3                h9c3ff4c_1    conda-forge
mindspore                 2.2.14                   py39_0    mindspore
ncurses                   6.4                  h6a678d5_0  
numpy                     1.22.3           py39hc58783e_2    conda-forge
olefile                   0.47               pyhd8ed1ab_0    conda-forge
openjpeg                  2.4.0                hb52868f_1    conda-forge
openssl                   3.3.2                hb9d3cd8_0    conda-forge
packaging                 24.1               pyhd8ed1ab_0    conda-forge
pillow                    8.3.2            py39ha612740_0    conda-forge
pip                       24.2             py39h06a4308_0  
protobuf                  5.28.2           py39hf88036b_0    conda-forge
psutil                    6.0.0            py39h8cd3c5a_2    conda-forge
python                    3.9.20               he870216_1  
python_abi                3.9                      2_cp39    conda-forge
readline                  8.2                  h5eee18b_0  
scipy                     1.8.1            py39he49c0e8_0    conda-forge
setuptools                75.1.0           py39h06a4308_0  
six                       1.16.0             pyh6c4a22f_0    conda-forge
sqlite                    3.45.3               h5eee18b_0  
tk                        8.6.14               h39e8969_0  
tzdata                    2024b                h04d1e81_0  
wheel                     0.44.0           py39h06a4308_0  
xz                        5.4.6                h5eee18b_1  
zlib                      1.2.13               h5eee18b_1  
zstd                      1.5.0                ha95c52a_0    conda-forge
